---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Debopriyo Basu</title>
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <div class="page">
      <a href="/" class="identity-photo">
        <img src="/profilepic.jpeg" alt="Debopriyo Basu" />
      </a>

      <div class="content-column">
        <a href="/" class="identity-name">
          <h1>Debopriyo Basu</h1>
        </a>

        <main class="content">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
